/* @charset 'UTF-8'; */
/* Slider */
/* .slick-loading .slick-list
{123
    background: #fff url('./ajax-loader.gif') center center no-repeat;
} */

/* Icons */
/* @font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
} */

/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    
    /* 버튼 모양 */
    width: 25px;
    height: 25px;
    padding: 0;
    /* 버튼 동그랗게 */
    border-radius: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    /* color: transparent;
    border: none;
    outline: none;
    background: transparent; */
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    /* border: 1px solid black; */
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: 1;
}

.slick-prev:before,
.slick-next:before
{
    /* 버튼 혹 이미지나 모양 스타일 지정 */

    /* font-family: 'slick'; */
    font-size: 20px;
    font-weight: bold;
    opacity: 1;
    color: black;

    display: flex;
    justify-content: center;
    align-items: center;
    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* prev 버튼 위치 조정 */
.slick-prev
{
    left: -15px;
    z-index: 10;
}
[dir='rtl'] .slick-prev
{
    right: -20px;
    /* left: auto; */
}
/* 버튼 이미지 설정 */
.slick-prev:before
{   
    content: '<';
}
[dir='rtl'] .slick-prev:before
{
    content: '>';
}


/* next 버튼 위치 조정 */
.slick-next
{
    right: -15px;
    z-index: 10;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
/* 버튼 이미지 설정 */
.slick-next:before
{
    content: '>';
}
[dir='rtl'] .slick-next:before
{
    content: '<';
}


/* 강의 설명 슬라이더 */

/* 슬라이더 div */
.slide-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 사진 */
.content {
    /* margin: 1px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0px;
}
/* 설명 */
p {
    padding: 20px;
}


/* 슬라이더 화살표 버튼 스타일 */

.slick-slider {
    /* 기존 속성들 */
   /* background-color: black; */
    outline:black; /* 새로 추가된 속성 */
  }

.content {
    height: 200px;
}

.slick-arrow-container {
    padding: 20px;
    /* border: 3px solid black; */
}
/* 슬라이더 prev, next 버튼 위치 */
.slick-prev, .slick-next {
    top: 50%;
    transform: translateY(-50%);
}

/* 전체 슬라이더 크기 조절 */
.slick-slider {
    left: 10%;
    height: 50%;
    width: 80%;
    border: 1px solid black;
 }

 .slick-prev:hover,
 .slick-next:hover {
   opacity: 0.5;
 }
 .slick-arrow {
    opacity: 1;
  }